.switch {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    width: 80px;

    .outer {
        cursor: pointer;
        color: #fff;
        border: 1px solid #b8bfbf;
        border-radius: 3px;
        display: block;
        line-height: 80px;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-transform: uppercase;

        .toggle {
            color: #fff;
            float: left;
            font-size: 14px;
            padding: 0;
            text-align: center;
            width: 50%;
            transition: all 400ms ease-out;
        }
        .toggle-true {  background-color: #0aa5a3;  }
        .toggle-false {  background-color: #ced2d2;  }

        .cover {
            background: #fff;
            width: 50%;
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            transition: all 200ms ease-in-out;
        }
    }
}