body {
    padding:0;
    margin: 0;
}


.app-main {
    min-height: 100vh;
    display: flex;
}


.app-aside {
    flex: 0 0 20vh;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    //background: #fff;
    background: red;

    //align-items: stretch;
    //flex-direction: column;
    //justify-content: flex-start;

    .menu-ul {
        list-style: none;

        li{
            display: list-item;
        }
    }
}


.app-content {

}