body {
    padding:0;
    margin: 0;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}


.app-main {
    min-height: 100vh;
    display: flex;
}


.app-aside {
    flex: 0 0 10vw;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    background: #fff;

    .menu-ul {
        list-style: none;

        li{
            line-height: 25px;
            display: list-item;
        }
    }
}


.app-content {

}