//@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//html, body {
//    height: 100%;
//    width: 100%;
//    color: white;
//    font-size: 18px;
//    font-weight: 400;
//    font-family: 'Quicksand', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
//    background: radial-gradient(ellipse at bottom left, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25), rgba(42, 60, 87, 0.4)), linear-gradient(135deg, #670d10, #092756);
//}

// SIDEBAR

$navW: 3.5rem;
$navColor: #2680F3;

.sidebar {
    color: white;
    font-size: 18px;
    position: fixed;
    font-weight: 400;
    font-family: 'Quicksand', 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;

    top: 0;
    left: 0;
    width: $navW;
    height: 100%;
    background: $navColor;
    transition: all 300ms ease;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 10px #333;

    &:hover {
        width: $navW * 4;
    }

    > ul {
        display: table;
        width: $navW * 4;


        > li {
            display: table-row;
            background: darken($navColor, 10%);
            cursor: pointer;

            &:hover {
                background: lighten($navColor, 10%);
            }

            &:active {
                background: lighten($navColor, 20%);
            }

            > div {
                height: $navW;
                line-height: $navW;
                display: table-cell;

                &:nth-child(1) {
                    width: $navW;
                    text-align: center;
                }

                &:nth-child(2) {
                    width: $navW * 3;
                    text-align: left;
                    padding-left: $navW / 5;
                }
            }
        }
    }
}